@model WebService.Models.RedNeuronal

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RedNeuronal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Proyecto.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Proyecto.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Epocas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Epocas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arquitectura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arquitectura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alfa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alfa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ErrorMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ErrorMin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
