@model IEnumerable<WebService.Models.InvariantesHu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Objeto.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hu1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hu2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hu3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hu4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hu5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hu6)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hu7)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Objeto.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hu1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hu2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hu3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hu4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hu5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hu6)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Hu7)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
